@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Micro-Pak Limited Document Management System (DMS).</h2>
    <p class="lead">DMS integrates with file server and allows you to file document in the folder you want.
You can simply retrieve the document from your specified folders in the file server!
</p>
</div>